<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>TASKS</title>
</head>

<body>
  <a href="http://localhost:1111/">Home</a>
  <main>
    <h1><%= Tasks %></h1> 
    
    <form action="/tasks" method="POST">
      <label for="descreption">Task:</label>
      <input type="text" name="descreption" />
      <input class="hide" id="datePicker" type="date" name="date" />
      <input class="hide"  type="number" name="todolist" value="<%= taskid %>" />
      <input type="submit" value="+"/>
    </form>
    
    

  <ul>
    <% taskoftasks.forEach((taskss) => { %>
    <li><%= `${taskss.description}   _______________   ${taskss.date} ` %></a></li>
    <% }) %>
  </ul>

  </main>
  <script>
    document.getElementById('datePicker').valueAsDate = new Date();
  </script>
</body>

</html>