<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
  <main>
    <h1><%= Tasks %></h1>
    
    <form action="/tasks" method="POST">
      <label for="descreption">Task:</label>
      <input type="text" name="descreption" />
      <br>
      <label for="date">Date:</label>
      <input type="date" name="date" />
      <br>
      <label for="todolist">position:</label>
      <input type="number" name="todolist" />
      <br>
      <input type="submit" value="+"/>
    </form>
    
    

  <ul>
    <% taskoftasks.forEach((taskss) => { %>
    <li><%= `${taskss.description}_______________${taskss.date} ` %></a></li>
    <% }) %>
  </ul>

  </main>
</body>

</html>